* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  color: #fff;
  height: 100vh;
  overflow-x: hidden;
}

h1 span {
  color: #00ffc6;
}

.hidden {
  display: none;
}

.dashboard {
  padding: 20px;
  animation: fadeInUp 1s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  padding: 8px 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

header button:hover {
  background: #00ffc6;
  color: black;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 25px rgba(0, 255, 198, 0.15);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 255, 198, 0.3);
}

.value {
  font-size: 28px;
  margin-top: 10px;
  font-weight: 600;
}

.profit {
  color: #00ffc6;
}

.loss {
  color: #ff5757;
}

.chart {
  width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 255, 198, 0.2);
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}
