* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

h1 span {
  color: #00ffc6;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 50px 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 255, 198, 0.2);
  text-align: center;
  animation: fadeIn 1.5s ease;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.login-box input:focus {
  outline: 1px solid #00ffc6;
}

.login-box button {
  margin-top: 15px;
  padding: 12px 40px;
  background: linear-gradient(90deg, #00ffc6, #00b3ff);
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffc6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
